.traffic{
    justify-items: center;
    margin: auto;
    background-color: black;
    width: 200px;
    height: 360px;
    border-radius: 5px;
    padding-top: 8px;
}

.red{
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 100%;
    opacity: 0.6;
}

.yellow{
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 100%;
    opacity: 0.6;
}

.green{
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: rgb(0, 255, 0);
    border-radius: 100%;
    opacity: 0.6;
}

.glow{
    opacity: 1;
    box-shadow: 0px 0px 10px 2px rgb(255, 255, 255);
}